<!DOCTYPE html>
<html>

<head>
    <title>Manage Stock Workshop Online</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
    <h1>Manage Stock Online</h1>
    <div class="menu">
        <a href="/" class="btn">
            <i class="fa-solid fa-house"></i> Home
        </a>
        <a href="/product" class="btn">
            <i class="fa-solid fa-table-cells"></i> Products
        </a>
        <a href="/importStock" class="btn">
            <i class="fa-sharp fa-solid fa-arrow-down"></i> Import Stock
        </a>
        <a href="/outStock" class="btn">
            <i class="fa-sharp fa-solid fa-arrow-up"></i> Export Stcok
        </a>
        <a href="/report" class="btn">
            <i class="fa-sharp fa-solid fa-chart-simple"></i> Report Stock
        </a>
    </div>